<!--The content below is only a placeholder and can be replaced.-->
<div class="encabezado">
    <h1>
        !Hola {{destino}}, Samuel!
    </h1>
    <app-fechaactual></app-fechaactual>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div class="container">
    <h3>Ejemplo de Interpolacion con Objeto</h3>
    <hr>
    <app-viewmodelo></app-viewmodelo>
</div>
<div class="container">
    <h3>Ejemplo de Property Binding</h3>
    <hr>
    <app-ejpropertybinding></app-ejpropertybinding>
</div>

<div class="container">
    <h3>Ejemplo de Event Binding</h3>
    <hr>
    <app-ejeventbinding></app-ejeventbinding>
</div>

<div class="container">
    <h3>Ejemplo de Two Way Binding</h3>
    <hr>
    <app-ej2waybinding></app-ej2waybinding>
</div>

<div class="container">
    <h3>Ejemplo de directiva nglf</h3>
    <hr>
    <app-ejdirectivangif></app-ejdirectivangif>
</div>

<div class="container">
    <h3>Ejemplo de directiva ngStyle</h3>
    <hr>
    <app-ejdirectivangstyle></app-ejdirectivangstyle>
</div>
<div class="container">
    <h3>Ejemplo de directiva ngClass</h3>
    <hr>
    <app-ejdirectivangclass></app-ejdirectivangclass>
</div>